#battlePane {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    /* visibility: hidden; */
}
#hero1 {

}

#hero1 img{
    height: 500px;
    margin-top: 80px;
    transform: scaleX(-1);
}

#demonBoss {

}

#demonBoss img{
    height: 600px;

}


.fighter {
    margin: 10px 60px;
    margin-top: 30px;
}
#muteButton{

}
#partySelection {
    padding: 20px;
    font: 12pt arial;
    text-align: center;
}
#partySelection button {
    font: 30pt luminari;
    background-color: slategray;
}
#partySelection button:hover{
    background-color: maroon;
}

.actions {
    height: 300px;
    width: 300px;
    visibility: hidden;
    
}

.healthLabel {

    font: 18 arial;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.actions button {
    background-color: silver;
    border: 2px solid black;
    font: 20px times;
    border-radius: 18px;
    padding: 8px 15px;
}
/* you can use the "class -> element (button this time) then colon new action (hover this time) */
/* the hover funciton will add this css only when the mouse hovers over the element */
.actions button:hover {
    background-color: steelblue;


}

.hpBorder {
    width: 280px;
    height: 30px;
    border: 3px solid black;
}

.hpBar {
    width: 280px;
    height: 30px;
    background-color: green;

}

