#battlePane {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
#hero1 {

}

#hero1 img{
    height: 350px;
    margin-top: 80px;
    transform: scaleX(-1);
}

#demonBoss {

}

#demonBoss img{
    height: 450px;

}


.fighter {
    margin: 10px 100px;
    margin-top: 30px;
}

#actionsPane {
    padding: 20px;
    font: 12pt arial;
}

.actions {
    height: 300px;
    width: 300px;
    
}

.healthLabel {

    font: 18 arial;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.hpBorder {
    width: 280px;
    height: 30px;
    border: 3px solid black;
}

.hpBar {
    width: 280px;
    height: 30px;
    background-color: green;

}